/* navigation */
.nav {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__logo {
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 28px;
    font-weight: 700;
    color: #696969;
}

.nav__list {
    list-style: none;
    padding: 40px 0;
    margin: 0;
}

.nav__list a {
    text-decoration: none;
    position: relative;
    color: #696969;
}


.nav__link {
    display: inline;
    position: relative;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 400;
}

.nav__link::after {
    content: '';
    width: calc(100% - 40px);
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 20px;
    border-radius: 20px;
    transform-origin: center;
    transition: transform 250ms ease-in-out;
    transform: scaleX(0);
    background-color: #516DC9;
}

.nav__link:hover::after {
    transform: scaleY(1);
}

.nav__linkActive {
    display: inline;
    position: relative;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 400;
}

.nav__linkActive::after {
    content: '';
    width: calc(100% - 40px);
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 20px;
    border-radius: 20px;
    background-color: #516DC9;
}

.logo {
    visibility: hidden;
    height: 0;
    width: 0;
}

@media only screen and (max-width:1024px) {
    .nav {
        justify-content: flex-end;
    }

    .nav__link {
        padding: 0 20px;
        font-size: 17px;
    }

    .nav__link::after {
        width: calc(100% - 20px);
        left: 10px;
    }

    .nav__linkActive {
        padding: 0 20px;
        font-size: 17px;
    }

    .nav__linkActive::after {
        width: calc(100% - 20px);
        left: 10px;
    }

    
}

@media only screen and (max-width:768px) {
    .nav {
        width: 100%;
        position: fixed;
        z-index: 100;
        bottom: 0;
        box-shadow: 0px -4px 6px rgb(0 0 0 / .16);
        justify-content: space-around;
        background-color: #f3f3f3;
    }

    .nav__logo {
        visibility: hidden;
    }

    .nav__list {
        list-style: none;
        padding: 20px 0;
        margin: 0;
    }

    .nav__link {
        display: inline;
        padding: 0 10px;
        font-size: 12px;
    }

    .nav__link::after {
        width: calc(100% - 10px);
        height: 1px;
        left: 5px;
    }

    .nav__linkActive {
        display: inline;
        padding: 0 10px;
        font-size: 12px;
    }

    .nav__linkActive::after {
        width: calc(100% - 10px);
        height: 1px;
        left: 5px;
    }

    .nav__link a {
        text-decoration: none;
        color: #696969;
    }

    .nav__link a:hover {
        color: #8D54CB;
    }

    .logo {
        width: 95%;
        height: 60px;
        margin: auto;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        font-weight: 700;
        color: #696969;
    }
}