@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}


/* navigation */
.nav {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__logo {
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 28px;
    font-weight: 700;
    color: #696969;
}

.nav__list {
    list-style: none;
    padding: 50px 0;
    margin: 0;
}

.nav__link {
    display: inline;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 400;
}

.nav__link a {
    text-decoration: none;
    color: #696969;
}

.nav__link a:hover {
    text-decoration: underline;
    color: #8D54CB;
}

.logo {
    visibility: hidden;
    height: 0;
    width: 0;
}

@media only screen and (max-width:1024px) {
    .nav {
        justify-content: flex-end;
    }

    .nav__link {
        padding: 0 20px;
    }
}

@media only screen and (max-width:768px) {
    .nav {
        width: 100%;
        position: fixed;
        z-index: 100;
        bottom: 0;
        box-shadow: 0px -4px 6px #d6d6d6;
        justify-content: space-around;
        background-color: #EFEFEF;
    }

    .nav__logo {
        visibility: hidden;
    }

    .nav__list {
        list-style: none;
        padding: 20px 0;
        margin: 0;
    }

    .nav__link {
        display: inline;
        padding: 0 10px;
        font-size: 12px;
    }

    .nav__link a {
        text-decoration: none;
        color: #696969;
    }

    .nav__link a:hover {
        text-decoration: underline;
        color: #8D54CB;
    }

    .logo {
        width: 95%;
        height: 60px;
        margin: auto;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        font-weight: 700;
        color: #696969;
    }
}


/*model*/
.models {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
}

.models__row {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.models__containerLeft {
    width: 50%;
    padding-right: 2%;
}

.models__containerRight {
    width: 50%;
    padding-left: 2%;
}

.models_preview {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 6px #d6d6d6;
}

.models__title {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    color: #696969;
}

.models__link {
    font-size: 26px;
    font-weight: 500;
    float: right;
    text-decoration: none;
    color: #CE1C70;
}

.models__discription {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    color: #696969;
}

@media only screen and (max-width:1024px) {
    .models_preview {
        margin-bottom: 15px;
    }

    .models__title {
        font-size: 20px;
    }

    .models__link {
        font-size: 20px;
    }

    .models__discription {
        font-size: 18px;
    }
}

@media only screen and (max-width:768px) {
    .models {
        width: 100%;
        margin-bottom: 100px;
    }

    .models__row {
        display: block;
        margin: 0;
    }

    .models__containerLeft {
        width: 100%;
        padding-right: 0%;
    }

    .models__containerRight {
        width: 100%;
        padding-left: 0%;
    }

    .models_preview {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    .models__title {
        font-size: 18px;
        margin-left: 2.5%;
    }

    .models__link {
        font-size: 18px;
        margin-right: 2.5%;
    }

    .models__discription {
        width: 95%;
        font-size: 16px;
        margin: auto;
        margin-bottom: 25px;
    }
}


/* web designs */
.designs {
    width: 100%;
    padding: 100px 0;
}

.designs__container {
    width: 95%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.purple__background {
    background-color: #EAE7EE;
}

.design__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    color: #696969;
}

.design__discription {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 5px;
    color: #696969;
}

.design__link {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #CE1C70;
}

.design__preview {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.design__preview img {
    width: 60%;
}

@media only screen and (max-width:1024px) {
    .designs {
        padding: 55px 0;
    }

    .designs__container {
        width: 95%;
        flex-direction: column;
    }

    .design__info {
        width: 100%;
        text-align: center;
    }

    .design__link {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .design__discription {
        font-size: 18px;
    }

    .design__preview {
        width: 100%;
    }

    .design__preview img {
        width: 70%;
    }
}

@media only screen and (max-width:768px) {
    .designs {
        padding: 40px 0;
    }

    .design__info {
        width: 100%;
        text-align: center;
    }

    .design__discription {
        font-size: 16px;
    }

    .design__preview img {
        width: 80%;
    }

    .design__last {
        padding-bottom: 100px;
    }
}


/* Home */

.projects__backgroundTop {
    content: '';
    width: auto;
    height: 100px;
    margin-bottom: -1px;
    background-position: center;
}

.projects__backgroundBottom {
    content: '';
    width: auto;
    height: 100px;
    margin-top: -1px;
    margin-bottom: 20px;
    background-position: center;
}

.projects__background {
    width: 100%;
    height: auto;
    background-color: #E1D8EA;
}

.projects {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
}

.projects__title {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    color: #696969;
}

.projects__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects__models {
    width: 50%;
    height: auto;
    padding-right: 1%;
}

.projects__models img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 6px #d6d6d6;
}

.projects__designs {
    width: 50%;
    height: auto;
    padding-left: 1%;
}

.projects__designs img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 6px #d6d6d6;
}

.projects__button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 2px 4px #d6d6d6;
    color: #F8F8F8;
    background-color: #CE1C70;
}

@media only screen and (max-width: 1024px) {
    .projects__title {
        margin-bottom: 35px;
    }

    .projects__models img {
        margin-bottom: 10px;
    }

    .projects__designs {
        margin-top: 30px;
    }

    .projects__designs img {
        margin-bottom: 10px;
    }

    .projects__button {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 768px) {
    .projects {
        width: 100%;
    }

    .projects__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .projects__container {
        flex-direction: column;
    }

    .projects__models {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__models img {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 0;
        box-shadow: 1px 4px 6px #d6d6d6;
    }

    .projects__designs {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__designs img {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 0px;
        box-shadow: 1px 4px 6px #d6d6d6;
    }

    .projects__button {
        padding: 5px 20px;
        border-radius: 8px;
        font-size: 16px;
        margin: 0;
    }
}

.skills {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills__title {
    position: relative;
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #CE1C70;
}

.skills__title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 220px);
    width: 50px;
    height: 3px;
    background-color: #CE1C70;
}

.skills__title::after {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(50% - 220px);
    width: 50px;
    height: 3px;
    background-color: #CE1C70;
}

.skills__card {
    width: 31%;
    height: 500px;
    margin: 0;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 1px 4px 6px #d6d6d6;
    background-color: #F8F8F8;
}

.skills__card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: -10;
    top: -15px;
    border-radius: 25px 25px 0 0;
    background-color: #D57CA6;
}

.skills__card:nth-child(2):before {
    background-color: #96A4D3;
}

.skills__card:nth-child(3):before {
    background-color: #B598D5;
}

.skills__icon {
    width: 100px;
    margin: auto;
    margin-top: 35px;
    height: auto;
}

.skills__icon img {
    width: 100%;
}

.skills__cardTitle {
    margin: 0;
    margin: 20px 0 5px;
    font-size: 26px;
    font-weight: 600;
    color: #696969;
}

.skills__list {
    width: 75%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: #F8F8F8;
}

.skills__list li {
    margin: 15px 0;
    border-radius: 25px;
}

@media only screen and (max-width:1024px) {
    .skills {
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: center;
    }

    .skills__card {
        width: 100%;
        height: 180px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .skills__card::before {
        top: -10px;
    }

    .skills__icon {
        width: 100px;
        margin: 0;
        height: auto;
    }

    .skills__cardTitle {
        margin: 0;
        font-size: 22px;
    }

    .skills__left {
        width: 300px;
        min-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills__list {
        width: auto;
        font-size: 18px;
        line-height: 1em;
    }

    .skills__list li {
        margin: 8px 10px;
        padding: 10px 20px;
        float: left;
        border-radius: 25px;
    }
}

@media only screen and (max-width:768px) {
    .skills {
        margin-bottom: 30px;
    }

    .skills__title {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .skills__title::before {
        width: 25px;
        left: calc(50% - 135px);
    }

    .skills__title::after {
        width: 25px;
        right: calc(50% - 135px);
    }

    .skills__card {
        height: auto;
        padding-bottom: 25px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .skills__icon {
        width: 80px;
    }

    .skills__cardTitle {
        margin: 10px 0 5px;
        font-size: 20px;
    }

    .skills__left {
        width: 100%;
        min-width: none;
        height: auto;
        margin-top: 20px;
    }

    .skills__list {
        font-size: 16px;
        left: 50%;
        padding: 0 20px;
        margin: auto;

    }

    .skills__list li {
        margin: 8px 8px;
    }
}


.about {
    width: 95%;
    height: auto;
    max-width: 1450px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__headshot {
    width: 40%;
    position: relative;
}

.about__headshot img {
    width: 100%;
}

.about__headshotBlob {
    height: 700px;
    position: absolute;
    top: -20%;
    right:  -35%;
    z-index: -1;
}

.about__info {
    width: 60%;
    padding-left: 45px;
}

.about__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3em;
    color: #696969;
}

.about__discription {
    margin: 0;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5em;
    color: #696969;
}

.about__button {
    padding: 5px 60px;
    border-radius: 13px;
    border: 0px;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 2px 4px #d6d6d6;
    color: #F8F8F8;
    background-color: #CE1C70;
}


@media only screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
    }

    .about__headshot {
        width: 65%;
        margin-bottom: 25px;
    }

    .about__info {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .about__title {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .about__discription {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {

    .about__title {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .about__discription {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .about__button {
        padding: 5px 40px;
        border-radius: 8px;
        font-size: 16px;
    }
}

.highlight {
    color: #CE1C70;
}