@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

/*model*/
.models {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
}

.models__row {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.models__containerLeft {
    width: 50%;
    padding-right: 2%;
}

.models__containerRight {
    width: 50%;
    padding-left: 2%;
}

.models_preview {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 6px rgb(0 0 0 / 0.16);
}

.models__title {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    color: #696969;
}

.models__link {
    font-size: 26px;
    font-weight: 500;
    float: right;
    text-decoration: none;
    color: #CE1C70;
}

.models__discription {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    color: #696969;
}

@media only screen and (max-width:1024px) {
    .models_preview {
        margin-bottom: 15px;
    }

    .models__title {
        font-size: 20px;
    }

    .models__link {
        font-size: 20px;
    }

    .models__discription {
        font-size: 18px;
    }
}

@media only screen and (max-width:768px) {
    .models {
        width: 100%;
        margin-bottom: 100px;
    }

    .models__row {
        display: block;
        margin: 0;
    }

    .models__containerLeft {
        width: 100%;
        padding-right: 0%;
    }

    .models__containerRight {
        width: 100%;
        padding-left: 0%;
    }

    .models_preview {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    .models__title {
        font-size: 18px;
        margin-left: 2.5%;
    }

    .models__link {
        font-size: 18px;
        margin-right: 2.5%;
    }

    .models__discription {
        width: 95%;
        font-size: 16px;
        margin: auto;
        margin-bottom: 25px;
    }
}


/* web designs */
.designs {
    width: 100%;
    padding: 100px 0;
}

.designs__container {
    width: 95%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.blue__background {
    background-color: #516DC9 ;
    padding: 150px 0;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

.design__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    color: #696969;
}

.design__discription {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 5px;
    color: #696969;
}

.white__font {
    color: #F8F8F8;
}

.design__link {
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 0.16);
    color: #F8F8F8;
    background-color: #CE1C70;
}

.blue__white {
    color: #516DC9;
    background-color: #F8F8F8;
}

.design__preview {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.design__previewLarge,
.design__previewSmall {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.design__previewSmall {
    height: 0px;
    width: 0px;
    visibility: hidden;

}

.design__previewLarge img,
.design__previewSmall img {
    width: 60%;
}

@media only screen and (max-width:1024px) {
    .designs {
        padding: 55px 0;
    }

    .designs__container {
        width: 95%;
        flex-direction: column;
    }

    .design__info {
        width: 100%;
        text-align: center;
    }

    .design__link {
        padding: 5px 20px;
        font-size: 18px;
        margin-bottom: 25px;
    }

    .design__discription {
        font-size: 18px;
    }

    .design__preview {
        width: 100%;
    }

    .design__previewSmall {
        width: 100%;
        height: auto;
        visibility: visible;
    }

    .design__previewLarge {
        height: 0px;
        width: 0px;
        visibility: hidden;

    }

    .design__previewSmall img {
        width: 70%;
    }
}

@media only screen and (max-width:768px) {
    .designs {
        padding: 60px 0;
    }

    .design__info {
        width: 100%;
        text-align: center;
    }

    .design__discription {
        font-size: 16px;
    }

    .design__previewSmall img {
        width: 80%;
    }

    .design__link {
        font-size: 16px;
    }

    .design__last {
        padding-bottom: 100px;
    }
}


/* Home */

.projects__backgroundTop {
    content: '';
    width: auto;
    height: 100px;
    margin-bottom: -1px;
    background-position: center;
}

.projects__backgroundBottom {
    content: '';
    width: auto;
    height: 100px;
    margin-top: -1px;
    margin-bottom: 20px;
    background-position: center;
}

.projects__background {
    width: 100%;
    height: auto;
    background-color: #516DC9;
}

.projects {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
}

.projects__title {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: center;
    color: #F8F8F8;
}

.projects__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects__models {
    width: 50%;
    height: auto;
    padding-right: 1%;
}

.projects__models img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 6px rgb(0 0 0 / 0.16);
}

.projects__designs {
    width: 50%;
    height: auto;
    padding-left: 1%;
}

.projects__designs img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 6px rgb(0 0 0 / 0.16);
}

.projects__button {
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 0.16);
    color: #516DC9;
    background-color: #F8F8F8;
}

@media only screen and (max-width: 1024px) {
    .projects__title {
        margin-bottom: 35px;
    }

    .projects__models img {
        margin-bottom: 10px;
    }

    .projects__designs img {
        margin-bottom: 10px;
    }

    .projects__button {
        padding: 5px 20px;
        font-size: 18px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 768px) {
    .projects {
        width: 100%;
    }

    .projects__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .projects__container {
        flex-direction: column;
    }

    .projects__models {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__models img {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 0;
    }

    .projects__designs {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__designs img {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 0px;
    }

    .projects__button {
        padding: 5px 20px;
        border-radius: 8px;
        font-size: 16px;
        margin: 0;
    }
}

.skills {
    width: 95%;
    max-width: 1450px;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills__title {
    position: relative;
    margin-bottom: 50px;
    margin-top: 75px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #516DC9;
}

.skills__title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 260px);
    width: 50px;
    height: 3px;
    background-color: #516DC9;
}

.skills__title::after {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(50% - 260px);
    width: 50px;
    height: 3px;
    background-color: #516DC9;
}

.skills__card {
    width: 31%;
    height: 500px;
    margin: 0;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 1px 4px 6px rgb(0 0 0 / 0.16);
    background-color: #F8F8F8;
}

.skills__card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: -10;
    top: -15px;
    border-radius: 25px 25px 0 0;
    background-color: #D57CA6;
}

.skills__card:nth-child(2):before {
    background-color: #96A4D3;
}

.skills__card:nth-child(3):before {
    background-color: #B598D5;
}

.skills__icon {
    width: 100px;
    margin: auto;
    margin-top: 35px;
    height: auto;
}

.skills__icon img {
    width: 100%;
}

.skills__cardTitle {
    margin: 0;
    margin: 20px 0 5px;
    font-size: 26px;
    font-weight: 600;
    color: #696969;
}

.skills__list {
    width: 75%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: #F8F8F8;
}

.skills__list li {
    margin: 15px 0 20px;
    border-radius: 25px;
}

@media only screen and (max-width:1024px) {
    .skills {
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: center;
    }

    .skills__title {
        margin-bottom: 40px;
        margin-top: 65px;
        font-size: 40px;
    }

    .skills__title::before {
        left: calc(50% - 220px);
    }
    
    .skills__title::after {
        right: calc(50% - 220px);
    }

    .skills__card {
        width: 100%;
        height: 180px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .skills__card::before {
        top: -10px;
    }

    .skills__icon {
        width: 100px;
        margin: 0;
        height: auto;
    }

    .skills__cardTitle {
        margin: 0;
        font-size: 22px;
    }

    .skills__left {
        width: 300px;
        min-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills__list {
        width: auto;
        font-size: 18px;
        line-height: 1em;
    }

    .skills__list li {
        margin: 8px 10px;
        padding: 10px 20px;
        float: left;
        border-radius: 25px;
    }
}

@media only screen and (max-width:768px) {
    .skills {
        margin-bottom: 30px;
    }

    .skills__title {
        font-size: 26px;
        margin-bottom: 25px;
        margin-top: 40px;
    }

    .skills__title::before {
        width: 25px;
        left: calc(50% - 135px);
    }

    .skills__title::after {
        width: 25px;
        right: calc(50% - 135px);
    }

    .skills__card {
        height: auto;
        padding-bottom: 25px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .skills__icon {
        width: 80px;
    }

    .skills__cardTitle {
        margin: 10px 0 5px;
        font-size: 20px;
    }

    .skills__left {
        width: 100%;
        min-width: none;
        height: auto;
        margin-top: 20px;
    }

    .skills__list {
        font-size: 16px;
        left: 50%;
        padding: 0 20px;
        margin: auto;

    }

    .skills__list li {
        margin: 8px 8px;
    }
}


.about {
    width: 95%;
    height: auto;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__headshot {
    width: 60%;
    margin-left: -170px;
    position: relative;
}

.about__headshot img {
    width: 100%;
    display: block;
}

.about__headshotSmall {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

.about__headshotSmall img {
    width: 100%;
}

.about__info {
    width: 60%;
    padding-left: 25px;
}

.about__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3em;
    color: #696969;
}

.about__discription {
    margin: 0;
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.6em;
    color: #696969;
}

.about__button {
    padding: 5px 40px;
    border-radius: 13px;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 0.16);
    color: #F8F8F8;
    background-color: #CE1C70;
}


@media only screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
        margin-bottom: 70px;
    }

    .about__headshotSmall {
        width: 55%;
        height: auto;
        margin-bottom: 25px;
        margin: auto;
        visibility: visible;
    }

    .about__headshot {
        height: 0px;
        width: 0px;
        display: none;
        visibility:collapse;
    }

    .about__info {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .about__title {
        margin-bottom: 35px;
        font-size: 28px;
    }

    .about__discription {
        margin-top: 30px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        margin-bottom: 100px;
    }

    .about__title {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .about__discription {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .about__button {
        border-radius: 8px;
        font-size: 16px;
    }
}

.highlight {
    color: #CE1C70;
}



/* contact */
.contact__background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/WizardSceneRender.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 95%;
    max-width: 1450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0px;
    color: #EFEFEF;
}

.contact input {
    width: 50%;
    min-width: 300px;
    margin: 10px 0 50px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #696969;
}

.contact input:focus {
    outline: none;
    border: 2px solid #516DC9;
}

.contact textarea {
    width: 50%;
    min-width: 300px;
    height: 200px;
    margin: 10px 0 50px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    resize: none;
    color: #696969;
}

.contact textarea:focus {
    outline: none;
    border: 2px solid #516DC9;
}

.contact button {
    font-size: 22px;
    font-weight: 500;
    padding: 5px 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #EFEFEF;
    background-color: #CE1C70;
}

@media only screen and (max-width:1024px) {
    .contact input {
        font-size: 16px;
    }

    .contact textarea {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {

    .contact h2 {
        font-size: 18px;
    }

    .contact input {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .contact textarea {
        height: 150px;
        font-size: 12px;
    }

    .contact button {
        font-size: 18px;
    }
}


/* Thank You */


.thanks {
    margin: 0;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5em;
    color: #EFEFEF;
}

@media only screen and (max-width:1024px) {
    .thanks {
        font-size: 50px;
    }
}

@media only screen and (max-width:768px) {
    .thanks {
        font-size: 40px;
    }
}